Django==2.2.17
django-ranged-response==0.2.0
django-simple-captcha==0.5.13
flup==1.0.3
html2text==2020.1.16
Pillow==8.0.1
#
psycopg2-binary==2.9.9
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
