<html>

<head>

<link href="http://ukedc.rl.ac.uk/StyleSheets/ukerc.css" rel="stylesheet" type="text/css">

<style typ="text/css">
body {margin: 10px;}
</style>

</head>

<body>


{% include "header.html" %}

<h2>Registration for: {{ conditions.dataset.name }}</h2>

To register for this dataset, please read the following conditions then complete the form below. 
<p>

<center>
<table border="1" width="90%">
<tr bgcolor="#ECECEC"><td><b>Terms & conditions</b><p><pre style="font-family:Verdana, Arial, Helvetica, sans-serif;">{{ conditions.text|safe|wordwrap:90 }}</pre></td></tr>
</table>
</center>
<p>


<form method="post">
<input type="hidden" name="conditionid" value="{{conditions.id}}">

{% if form.errors %}
   <p style="color:red;"> Please complete the fields highlighted below.</p>
{% endif %}

<table border="1">

{% if form.title.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>Title:</b></td>
<td>{{ form.title }}</td>
</tr>


{% if form.lastName.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>Last name:</b></td>
<td>{{ form.lastName }}</td>
</tr>


{% if form.firstName.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>First name:</b></td>
<td>{{ form.firstName }}</td>
</tr>

{% if form.emailaddress.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>E-mail address:</b></td>
<td>{{ form.emailaddress }}</td>
</tr>


{% if form.department.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>Group/department:</b></td>
<td>{{ form.department }}</td>
</tr>


{% if form.institute.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>Institution/company:</b></td>
<td>{{ form.institute }}</td>
</tr>


{% if form.dataUse.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>Proposed use of data:</b><br>
Please explain what you intend to use the data for. 
If you do not provide sufficient information it will delay your application.
</td>
<td>{{ form.dataUse }}</td>
</tr>


{% if form.acceptConditions.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}

<td><b>I accept the above conditions:</b></td>
<td>{{ form.acceptConditions }}</td>
</tr>

{% if form.captcha.errors %}
   <tr bgcolor="#F0888A">
{% else %}
  <tr>
{% endif %}
<td><b>Please enter the characters from the image:</b></td>
<td>{{ form.captcha }}</td>
</tr>


</table>
<p/>

<input type="submit" value="Submit">
</center>
</form>

{% include "trailer.html" %}


</body>
</html>
